body {
  background: black;
  color: white;
  font-family: sans-serif;
}

.outer-container {
  display: flex;
  flex-direction: row;
}

h1 {
  display: flex;
  /* display: inline; */
}

#planetContainer {
  display: flex;
  margin-top: 10px;
  max-width: 100px;
  max-height: 50px;
}